Repository TakshakRamteke/dashcord, pull requests merged in 2022-06, with the labels that each got.

#44 Redesign + minor features
  components/Forms/FamilyDetail.tsx
  components/Forms/FriendsDetail.tsx
  components/Forms/PersonalDetail.tsx
  components/Layout/TgLayout.tsx
  components/Sidebar/TgSidebar.tsx
  components/Table/AttendanceTable.tsx
  pages/TG/index.tsx
  pages/TG/students/[slug].tsx
  pages/TG/students/index.tsx
  prisma/schema.prisma
  prisma/seed.ts
Labels: Database, dashboard, TG Incharge, TG, Students, HOD, Parents

#46 Feat : feature for TG to add tasks for students
  pages/TG/tasks.tsx
  pages/api/tg/create-task.ts
  prisma/schema.prisma
Labels: Database, dashboard, TG

#47 Kothekar
  cypress/integration/Authentication.feature
  pages/TG/tasks.tsx
  pages/api/tg/delete-task.ts
Labels: dashboard, TG

#49 Feat : Create Goal for each student
  pages/TG/students/[slug].tsx
  pages/api/tg/create-goal.ts
Labels: Database, dashboard, TG, Students

#51 minor Fix + Features
  components/Sidebar/TgSidebar.tsx
  pages/TG/students/[slug].tsx
  prisma/schema.prisma
Labels: Database, dashboard, TG Incharge, Students

#56 Hod Dashboard
  components/Layout/HodLayout.tsx
  components/Sidebar/HodSidebar.tsx
  pages/HOD/index.tsx
  pages/TEACHER/signout.tsx
Labels: dashboard, HOD

#57 Minor features
  components/FilterItem.tsx
  components/Pagination.tsx
  package.json
  pages/HOD/students/[slug].tsx
  pages/HOD/students/index.tsx
  pages/HOD/tgs/index.tsx
  pages/STUDENT/index.tsx
  pages/api/hod/tgs/index.ts
  prisma/schema.prisma
  yarn.lock
Labels: dashboard, HOD

#58 Feat : HOD pannel
  pages/HOD/analytics.tsx
  pages/HOD/reports.tsx
  pages/HOD/user.tsx
  pages/api/hod/index.ts
Labels: dashboard, HOD

#60 minor fixes
  components/Forms/FamilyDetail.tsx
  components/Forms/FriendsDetail.tsx
  components/Forms/PersonalDetail.tsx
  pages/HOD/students/[slug].tsx
Labels: dashboard

#62 Fix : /students/[slug] is now SSG => SSR
  pages/HOD/students/[slug].tsx
  pages/INCHARGE/students/[slug].tsx
  pages/TG/students/[slug].tsx
Labels: dashboard

#63 Minor Fixes
  pages/INCHARGE/students/[slug].tsx
  pages/STUDENT/certificates.tsx
  pages/TG/students/[slug].tsx
  pages/api/auth/[...nextauth].ts
  pages/api/incharge/students/updateTg.ts
Labels: dashboard

#64 Fix : Year Filter for all students
  components/FilterItem.tsx
  pages/HOD/students/index.tsx
  pages/api/incharge/students/index.ts
  prisma/schema.prisma
Labels: Database, dashboard, TG Incharge, HOD

#65 Minor Fixes
  components/FilterItem/NumericFilterItem.tsx
  pages/HOD/students/index.tsx
Labels: Database, dashboard

#66 Fix : responsive cards
  pages/HOD/students/index.tsx
Labels: dashboard, HOD

#67 Feat : Added open in gitpod button
  readme.md
Labels: documentation, enhancement

#71 initial
  parents/.eslintrc.json
  parents/.gitignore
  parents/README.md
  parents/next-env.d.ts
  parents/next.config.js
  parents/package.json
  parents/pages/_app.tsx
  parents/pages/api/hello.ts
  parents/pages/index.tsx
  parents/public/favicon.ico
  parents/public/vercel.svg
  parents/styles/Home.module.css
  parents/styles/globals.css
  parents/tsconfig.json
  parents/yarn.lock
Labels: dashboard, Bug
